<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link href="/static/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <form action="/api/new" method="POST">
                <h1>Javed M</h1>
                <label for="long_url">url</label>
                <input type="url" name="long_url" value="" placeholder="Enter a url">
                <br>
                <input type="submit" value="Enter" class="btn">            
            </form>
        </div>
    
    </body>
</html>
